{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header-->
<header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="{% static 'img/amigos.png' %}" alt="" width="100">
            <h1 class="display-4 fw-bolder">Meus Amigos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Gerenciar meus amigos on-line!</p>
            <a href="{% static 'app-release.apk' %}" class="btn btn-success mt-5">Baixe o App</a>

        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for amigo in amigos %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ amigo.avatar.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ amigo.nome}}</h5>
                            <!-- Product price-->
                            <h5 class="fw-bolder">{{ amigo.email}}</h5>
                            <h5 class="fw-bolder">{{ amigo.endereco}}</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{% url 'detalhar' amigo.id %}">Info</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content%}